<div class="breadcrumb">
    <h1>اضافة الموظف الى الانظمة</h1>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row" dir="rtl">
    <div class="col-md-3">
        <div class="col-md-12 form-group mb-3"  style="text-align: right;">
            <label for="picker1">البحث عن الموظفين</label>
            <div class="input-group">
                <input id="picker1" class="form-control form-control-rounded" placeholder="متعب" name="dp">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-rounded" type="button">
                        <i class="icon-regular i-Magnifi-Glass1"></i>
                    </button>
                </div>
            </div>
        </div>

        <ul class="list-group list-group-flush" style="text-align: right;padding-right:0px;">
            <li class="list-group-item">متعب الشمري</li>
        </ul>
    </div>

<div class="col-md-8">
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
                <img class="avatar-md rounded mr-3" src="./assets/images/faces/2.jpg" alt="">
                <div class="flex-grow-1">
                <h6 class="m-0" style="text-align: right !important;">{{selectedUser.empNameAr}}</h6>
                    <p class="m-0 text-small text-muted" style="text-align: right !important;">{{selectedUser.empNid}}</p>
                </div>
            </div>

            <h2 style="text-align: right !important;">الأنظمة المسجل بها</h2>
            <div class="separator-breadcrumb border-top"></div>

            <div class="p-3">
                <form [formGroup]="modulesForm">
                    <label formArrayName="systems"  style="text-align:right !important;" *ngFor="let system of modulesForm?.controls.systems.controls; let i = index" class="checkbox checkbox-success">
                        <input type="checkbox" checked [formControlName]="i" (change)="checkboxChanged($event.target)">
                        <span>{{allModules[i]?.moduleInfo.moduleNameAr}}</span>
                        <span class="checkmark"></span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
  
  
